.contenedor-historial {
	background-color: var(--fondo-secundario);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 900px;
	margin: 20px auto;
}

.tabla-historial {
	width: 100%;
	border-collapse: collapse;
	background-color: var(--fondo-secundario);
	color: var(--texto);
}

.tabla-historial th,
.tabla-historial td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

.tabla-historial th {
	background-color: var(--encabezado);
	color: white;
	font-weight: bold;
}

.tabla-historial tr:nth-child(even) {
	background-color: var(--fondo-principal);
}

.tabla-historial tr:hover {
	background-color: var(--notificaciones);
	color: white;
}
