{% extends "base.html" %}

{% block title %}Citas{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/tablas.css') }}">
    <title>Citas</title>
</head>
<div class="contenedor">
    <h2>Citas</h2>
    <table class="tabla">
        <thead>
            <tr>
                <th>Nombre del paciente</th>
                <th>Hora consulta</th>
                <th>Fecha consulta</th>
                <th>Movito de la consulta</th>
                <th>tipo</th>
                <th>Nombre del medico</th>
                
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
                <tr class="citas-row">
                    <td class="citas-data">{{ cita.Nombre }}</td>
                    <td class="citas-data">{{ cita['Hora consulta'] }}</td>
                    <td class="citas-data">{{ cita['Fecha consulta'] }}</td>
                    <td class="citas-data">{{ cita['Motivo de la consulta'] }}</td>
                    <td class="citas-data">{{ cita.tipo }}</td>
                    <td class="citas-data">{{ cita['Nombre del medico'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

