{% extends "base.html" %}

{% block title %}Citas{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/tablas.css') }}">
    <title>Citas</title>
</head>
<div class="main">
    <h2>Citas</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre del paciente</th>
                <th>Hora consulta</th>
                <th>Fecha consulta</th>
                <th>Movito de la consulta</th>
                <th>tipo</th>
                <th>Nombre del medico</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}

