{% extends "base.html" %}

{% block title %}Habitaciones{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/tablas.css') }}">
    <title>Habitaciones</title>
</head>
<div class="main">
    <h2>Habitaciones</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Capacidad</th>
                <th>tipo Habitacion</th>
                <th>Disponibilidad</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="button-container">
        <div class="button-container" ><bottom onclick="eliminar()" class="custom-btn custom-btn-3">eliminar</bottom></div>
        <div class="button-container"><bottom onclick="editar()"class="custom-btn custom-btn-2">Editar</bottom></div>
        <div class="button-container"><bottom onclick="agregar()" class="custom-btn custom-btn-1">agregar</bottom></div>
    </div>
</div>

<script>
    function agregar() {
        alert('Función Agregar en desarrollo');
    }

    function editar() {
        alert('Función Editar en desarrollo');
    }

    function eliminar() {
        alert('Función Eliminar en desarrollo');
    }
</script>

{% endblock %}

