<nav class="navbar">
    <!-- Izquierda: Nombre del hospital -->
    <div class="navbar-left">
        <a href="{{ url_for('home') }}" class="navbar-link">
            <div class="navbar-hospital">NOMBRE DEL HOSPITAL</div>
        </a>
    </div>

    <!-- Centro: Logo y enlaces -->
    <div class="navbar-right">
        <div class="navbar-links">
            <a href="{{ url_for('iniciar_sesion') }}">Iniciar Sesión</a>
            <a href="{{ url_for('registrarse') }}">Registrarse</a>
        </div>
    </div>

</nav>