{% extends "base.html" %}

{% block title %}Citas Agendadas{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/global.css') }}">

</head>

<h1>Bienvenido</h1>
<div class="image-container">
    <img
        src="{{ url_for('static', filename='resources/img/doc.svg') }}"
        alt="inicio" class="icon">
</div>

{% endblock %}
