{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/iniciar_sesion.css') }}">
    <title>Iniciar Sesión</title>
</head>
<h1>Iniciar Sesión</h1>
<div class="login-container">

    <form action="{{ url_for('usuario_bp.iniciar_sesion') }}" method="POST" class="login-form">

        <div class="form-group">
            <label for="cedula" class="form-label">Cédula</label>
            <input type="text" id="cedula" name="cedula" class="form-input"
                placeholder="Ingrese su cédula" required>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" name="password"
                class="form-input" placeholder="Ingrese su contraseña" required>
        </div>
        <button type="submit" class="login-button">Iniciar Sesión</button>
    </form>
</div>
{% endblock %}
