{% extends "base.html" %}

{% block title %}Inicio Administrador{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admistrador.css') }}">
    <title>Inicio Administrador</title>
</head>
<h1>Bienvenido Administrador</h1>
<div class="button-container">
    <div class="button-container"><button id="citas" class="custom-btn custom-btn-1">Citas</button></div>
    <div class="button-container"><button id="cirugia" class="custom-btn custom-btn-2">Cirugías</button></div>
    <div class="button-container"><button id="personalmedico" class="custom-btn custom-btn-3">Personal Médico</button></div>
    <div class="button-container"><button id="proveedores" class="custom-btn custom-btn-4">Proveedores</button></div>
</div>
<div class="button-container">
    <div class="button-container"><button id="almacen" class="custom-btn custom-btn-4">Almacén</button></div>
    <div class="button-container"><button id="pacientes" class="custom-btn custom-btn-3">Pacientes</button></div>
    <div class="button-container"><button id="habitaciones" class="custom-btn custom-btn-2">Habitaciones</button></div>
</div>
<script>
    document.getElementById("personalmedico").addEventListener("click", function () {
        window.location.href = "/Administrador/personalmedico";
    });
    document.getElementById("proveedores").addEventListener("click", function () {
        window.location.href = "/Administrador/proveedores";
    });
    document.getElementById("almacen").addEventListener("click", function () {
        window.location.href = "/Administrador/almacen";
    });
    document.getElementById("pacientes").addEventListener("click", function () {
        window.location.href = "/Administrador/pacientes";
    });
    document.getElementById("habitaciones").addEventListener("click", function () {
        window.location.href = "/Administrador/habitaciones";
    });
    document.getElementById("citas").addEventListener("click", function () {
        window.location.href = "/Administrador/citas";
    });
    document.getElementById("cirugia").addEventListener("click", function () {
        window.location.href = "/Administrador/cirugias";
    });
</script>
{% endblock %}
