{% extends "base.html" %}

{% block title %}Inicio Cliente{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/inicio_cliente.css') }}">
    <title>Inicio Cliente</title>
</head>
<h1>Inicio Cliente</h1>
<div class="button-container">
    <a href="{{ url_for('agendar_cita') }}"
        class="custom-btn custom-btn-cliente">
        Agendar Cita
    </a>
    <a href="{{ url_for('citas_agendadas') }}"
        class="custom-btn custom-btn-cita">
        Citas Agendadas
    </a>
    <a href="{{ url_for('historial_medico') }}"
        class="custom-btn custom-btn-historial">
        Historial Médico
    </a>
    <a href="{{ url_for('medicamentos') }}"
        class="custom-btn custom-btn-medicamentos">
        Medicamentos
    </a>
</div>
{% endblock %}
