{% extends "base.html" %}

{% block title %}Personal Medico{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/tablas.css') }}">
    <title>Personal Medico</title>
</head>
<div class="main">
    <h2>Personal Medico</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Departamento</th>
                <th>Profesión</th>
                <th>Horario Entrada</th>
                <th>Horario Salida</th>
                <th>Disponibilidad</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personal_medico %}
            <tr>
                <td>{{ personal.Nombre }}</td>
                <td>{{ personal.Departamento }}</td>
                <td>{{ personal.Profesion }}</td>
                <td>{{ personal.HorarioEntrada }}</td>
                <td>{{ personal.HorarioSalida }}</td>
                <td>{{ personal.Disponibilidad }}</td>
                <td>
                    <input type="radio" name="seleccionar_personal" value="{{ personal.Nombre }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button-container">
        <div class="button-container" ><bottom onclick="eliminar()" class="custom-btn custom-btn-1">eliminar</bottom></div>
        <div class="button-container"><bottom onclick="editar()"class="custom-btn custom-btn-2">Editar</bottom></div>
        <div class="button-container"><bottom onclick="agregar()" class="custom-btn custom-btn-3">agregar</bottom></div>
    </div>
</div>

<script>
    function agregar() {
        alert('Función Agregar en desarrollo');
    }

    function editar() {
        alert('Función Editar en desarrollo');
    }

    function eliminar() {
        alert('Función Eliminar en desarrollo');
    }
</script>

{% endblock %}

